.table {
	table-layout: fixed;
}

.table .machine-name {
	min-width: 180px;
}

.table .type {
	width: 110px;
}

.table .length {
	width: 75px;
}

.table .nullable {
	width: 35px;
}

td.sample {
	overflow: hidden;
	text-overflow: ellipsis;
}
td.sample code {
	white-space: nowrap;
}