.table {
	table-layout: fixed;
}

.table .machine-name {
	min-width: 180px;
}

.table .type {
	width: 130px;
}

	.table .type select {
		width: 80%;
		display: inline-block;
	}

.table .length {
	width: 75px;
}

.table .nullable {
	width: 35px;
}

td.sample {
	overflow: hidden;
	text-overflow: ellipsis;
}
td.sample code {
	white-space: nowrap;
}

tr.disabled td {
	background-color: #dcdcdc;
}
tr.disabled input,
tr.disabled select {
	color: #dcdcdc;
	font-style: italic;
}
tr.disabled code {
	background-color: inherit;
	color: inherit;
}